.hovering-toolbar {
  position: absolute;
  z-index: 1;
  background-color: #333;
  border-radius: 4px;
  transition: opacity 0.2s, transform 0.15s ease-in-out;
  display: flex;
  gap: 4px;
  padding: 5px 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.hovering-toolbar button {
  color: #faf8f0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px 6px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  transition: background-color 0.2s, transform 0.15s ease-in-out;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hovering-toolbar button:hover {
  background-color: #555;
  transform: translateY(-1px);
}

.hovering-toolbar button.active {
  background-color: #777;
  color: #ffffff;
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.toolbar-separator {
  width: 1px;
  height: 20px;
  background-color: #555;
  margin: 0 4px;
}

.font-size-input {
  width: 42px;
  background-color: #444;
  border: 1px solid #555;
  color: #fff;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  padding-left: 11px;
  padding-right: 0px;
  box-sizing: border-box;
}

.font-size-input::-webkit-inner-spin-button,
.font-size-input::-webkit-outer-spin-button {
  opacity: 0;
  height: 0;
}

.font-size-input:focus {
  outline: none;
  border-color: #666;
  background-color: #4a4a4a;
}
